body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  text-align: center;
}

.title {
  color: white;
  font-weight: 549;
  font-size: 22px;
  height: 70px;
}

.header {
  color: white;
  font-size: 16px;
  font-weight: 549;
  line-height: 2.0;
  margin: 0;
}

.select-message-type {
  background-color: white;
  border-radius: 5px;
  color: black;
  font-style: italic;
  margin: auto;
  padding-bottom: 7px;
  padding-top: 7px;
  width: 30%;
  height: 105px;
}

.radio-label {
  font-weight: 300;
}

.mantra {
  margin-left: 70px;
}

.button {
  background-color: #134d71;
  border-radius: 5px;
  border: 6px solid #134d71;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 6px #777777;
}

.receive-button {
  margin-top: 50px;
}

.image {
  height: 80px;
  width: 100px;
}

.radio-container {
  justify-self: center;
}

.hidden {
  display: none;
}

article {
  background-color: white;
  border: 30px solid white;
  border-radius: 8px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 50%;
}

.message {
  color: black;
  font-size: 18px;
}

.delete-button {
  margin-top: 8px;
}

.italicized-red {
  color: red;
  font-size: 18px;
  font-style: italic;
  margin-top: 18px;
}

.user-message {
  border: 1px solid black;
  border-radius: 2px;
  height: 40%;
  margin: 12px;
  text-align: center;
  width: 65%;
}
